<%# TODO move the logout button to a navbar partial %>
<h1>Welcome <%= @user.name %>!</h1>
<%= link_to 'Log Out' %>

<%= link_to 'Discover Movies', discover_path %>
<div id='friends' >
  <h3>Your Friends</h3>
  <% if @user.friends.empty? %>
    <p>You currently have no friends.</p>
  <% else %>
    <% @user.friends.each do |friend| %>
      <%= friend.name %>
    <% end %>
  <% end %>
</div>
<!-- if friends then list each friend name else show no friend message -->
<h3>Your Viewing Parties</h3>
